.Card--div {
  height: 330px;
  width: 230px;
  border: 3px solid $dark-accent-color;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $dark-accent-color;
  margin: 20px;
  
  p,
  li {
    font-family: $body-font;
    font-family: $body-font;
    font-size: 13px;
    padding: 5px;
    margin: 10px;
  }
  
  li {
    list-style-type: circle;
    list-style-position: inside;
  }

  img {
    width: 230px;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid $dark-accent-color;
  }

  .Card--p--story {
    height: 215px;
    overflow: scroll;
    border: 1px solid $dark-accent-color;
    border-radius: 5px;
  }

  h3 {
    font-family: $title-font;
    font-size: 30px;
    height: 35px;
    color: $main-color;
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 1px;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  h5 {
    font-family: $body-font;
    margin: 10px;
    font-size: 20px;
  }

  .far,
  .fas {
    color: $dark-accent-color;
  }
}

.expanded {
  height: 100%;
  width: 90vw;
  position: absolute;
  top: 230px;
  left: 50%;
  margin: 0 0 0 -45vw;
  z-index: 10;
  background: $body-color
}

.Card--div--title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Card--div-caption {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Card--p--caption {
  width: 55%;
  text-overflow: ellipsis;
}

.Card--div--ingredients,
.Card--div--instructions {
  height: 150px;
  overflow: scroll;  
  margin-right: 10px;
}
