.Card--div {
  height: 330px;
  width: 230px;
  border: 3px solid $dark-accent-color;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $dark-accent-color;
  
  p {
    font-family: $body-font;
    font-family: $body-font;
    font-size: 13px;
    padding: 5px;
    margin: 10px;
  }
  
  img {
    width: 200px;
    max-height: 250px;
    overflow: scroll;
  }

  .Card--p--story{
    height: 225px;
    overflow: scroll;
  }

  h3 {
    font-family: $title-font;
    font-size: 20px;
    color: $main-color;
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 1px 
  }

}