.CardArea {

  .CardArea--div{
    display: flex;
    justify-content: space-evenly;
  }

  h2{
    font-family: $title-font;
    margin: 20px;
    text-align: center;
    color: $main-color;
    font-size: 30px;
  }
}