@import url('https://fonts.googleapis.com/css?family=Marck+Script|Source+Serif+Pro');

//font variables
$title-font: 'Marck Script', cursive;
$body-font: 'Source Serif Pro', serif;

//color variables
$body-color: #f5f1eb;
$main-color: #88b5a3;
$light-accent-color: #E3D081;
$dark-accent-color: rgb(61, 53, 55);
